{% extends "core/base.html" %}
{% block title %}Editar Trabajo{% endblock %}

{% block content %}

<div class="f1-card" style="max-width:700px;margin:auto;">
    <h2 class="fw-bold mb-4" style="font-family:'Orbitron';">✏️ Editar Trabajo</h2>

    <form method="POST" class="f1-form">
        {% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
            <br>
        {% endfor %}

        <button class="f1-btn mt-4">Guardar Cambios</button>
    </form>
</div>

{% endblock %}

