{% extends "core/base.html" %}
{% load static %}

{% block title %}Registrar Trabajo{% endblock %}

{% block content %}

<div class="f1-card" style="max-width: 700px; margin:auto;">
    <h2 class="fw-bold mb-4" style="font-family:'Orbitron';">
        🏁 Registrar Nuevo Trabajo
    </h2>

    <form method="POST" class="f1-form">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <p class="text-danger small">{{ field.errors }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <button class="f1-btn mt-3">Guardar Trabajo</button>
    </form>
</div>

{% endblock %}




